<script type="text/javascript">
    $(function() {
        oTable = $('#status').dataTable({
            "iDisplayLength": 10,
            "sPaginationType":"full_numbers",
            "bJQueryUI":true,
            "aaSorting": [[0, "desc"]],
            "bLengthChange":false,
            "oLanguage":{
                "sInfo":                "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                "sInfoFiltered":        "Filtrado de _MAX_ registros no total",
                "sZeroRecords":         "Sem resultados",
                "sInfoEmpty":           "",
                "sSearch":              "Buscar",
                "oPaginate": {
                    "sFirst":           "Primeiro",
                    "sPrevious":        "Anterior",
                    "sNext":            "Próximo",
                    "sLast":            "Ultimo"
                }
            }
        });
    });
</script>


<h1>Lista de Status</h1>

<table id="status" class="table table-bordered display">
  <thead>
    <tr>
      <th>Descrição</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @statuses.each do |status| %>
      <tr>
        <td><%= status.descricao %></td>
        <td><%= link_to 'Mostrar', status, class:"btn btn-info active" %></td>
        <td><%= link_to 'Editar', edit_status_path(status), class: "btn btn-primary active" %></td>
        <td><%= link_to 'Apagar', status, method: :delete, data: { confirm: 'Você tem certeza?' }, class: "btn btn-danger active" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Status', new_status_path, class: "btn btn-default" %>
